footer i {
    color: var(--primary-color);
}

i {
    color: white;
    font-size: 24px;
    font-weight: bolder;
}

main {
    align-items: center;
    justify-content: center;
}

.heading-about {
    margin-top: 7%;
    color: white;
    text-align: center;
    font-size: 40px;
    font-weight: bolder;
}

.about-div {
    display: flex;
    flex-direction: row;
    gap: 3rem;
    width: 85%;
    height: fit-content;
    margin-top: 5%;
    margin-right: 5%;
    align-items: center;
    justify-content: center;
}


.about-div img {
    flex: 1;
}

.about-div p {
    flex: 1;
    justify-content: right;
    font-size: 24px;
    text-align: justify;
    color: #cdcdcd;
}


.contact-div {
    background-color: white;
    color: var(--primary-color);
    padding: 5%;
    margin: 10%;
    align-items: center;
    justify-content: center;
}


.heading-contact {
    margin-top: 2%;
    color: var(--primary-color);
    text-align: center;
    font-size: 40px;
    font-weight: bolder;
}

.contact-details {
    margin-top: 7%;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: row;
    gap: 10rem;
}


.box {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    font-size: 24px;
    align-items: center;
}

.box:hover {
    transform: scale(1.1);
    transition: 0.5s;
    cursor: pointer;
}

.box i {
    font-size: 34px;
    color: var(--primary-color);
}

.box p {
    text-align: center;
}