/* General styles */
body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: var(--primary-color);
    color: white;
}

header .logo img {
    height: 50px;
}

nav {
    display: flex;
    align-items: center;
}

header .nav-links {
    display: flex;
    list-style: none;
    padding: 0;
}

header .nav-links li {
    margin: 0 10px;
}

header .nav-links li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

header .manager {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

.hamburger {
    display: none;
    cursor: pointer;
}

.hamburger i {
    font-size: 24px;
}

@media (max-width: 768px) {
    .hamburger {
        display: block;
    }

    .nav-links {
        display: none;
        flex-direction: column;
        gap: 10px;
        position: absolute;
        top: 60px;
        right: 0;
        background-color: var(--primary-color);
        width: 100%;
        padding: 10px;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    }

    .nav-links.active {
        display: flex;
    }

    .nav-links li {
        margin: 5px 0;
    }

    header {
        flex-direction: column;
        align-items: flex-start;
    }
}

main {
    margin: 20px;
    text-align: center;
}

.quote {
    color: black;
    position: relative;
    margin: 40px auto;
    padding: 20px 40px;
    max-width: 700px;
    background-color: #fff;
    border-left: 4px solid var(--primary-color);
    font-size: 20px;
    line-height: 1.6;
    text-align: center;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.quote::before {
    content: "\f10d";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    position: absolute;
    top: -10px;
    left: -10px;
    font-size: 50px;
    color: #7fb2d6;
}

.quote::after {
    content: "\f10e";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    position: absolute;
    bottom: -10px;
    right: -10px;
    font-size: 50px;
    color: #7fb2d6;
}

.qr-code {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
    margin: 40px 0;
}

.qr-code div {
    text-align: center;
}

.qr-code img {
    width: 200px;
    height: 200px;
    display: block;
    margin: 0 auto 10px auto;
}

.qr-code .bit-qr .image,
.qr-code .paybox-qr .image {
    width: 40px;
    height: 40px;
    margin-bottom: 10px;
    border-radius: 50%;
}

.details {
    display: flex;
    flex-direction: column;
    gap: 20px;
    background-color: white;
    color: var(--primary-color);
    padding: 20px;
    line-height: 1.5rem;
    justify-content: center;
    border: 3px solid white;
    margin: 0 auto;
    max-width: 700px;
    text-align: center;
}

.details h3 {
    font-size: 24px;
    font-weight: bolder;
}

.details p {
    font-size: 18px;
}

footer {
    padding: 20px;
    background-color: var(--primary-color);
    color: white;
    text-align: center;
}

footer .map-container iframe {
    width: 100%;
    height: 300px;
    border: none;
}

footer .social-media {
    margin: 20px 0;
}

footer .social-media h3 {
    margin-bottom: 10px;
}

footer .social-media a {
    margin: 0 10px;
    color: white;
    text-decoration: none;
    font-size: 24px;
}

.defibrillator {
    position: fixed;
    bottom: 10px;
    left: 10px;
    width: 130px;
    height: 50px;
    background-color: red;
    color: white;
    padding: 10px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    gap: 10px;
    cursor: pointer;
    z-index: 1000;
    transition: left 0.3s;
    text-align: center;
}

.defibrillator:hover {
    left: 0;
    width: auto;
    height: auto;
}

.defibrillator:hover .defib-text {
    display: none;
}

.defibrillator .defib-info {
    display: none;
    background-color: red;
    color: white;
    padding: 10px;
    border-radius: 10px;
    margin-top: 10px;
}

.defibrillator:hover .defib-info {
    display: block;
}

.material-symbols-rounded {
    font-size: 24px;
}

.defib-text {
    font-size: 18px;
}

@media (min-width: 600px) {
    .details {
        flex-direction: row;
        text-align: left;
    }

    .quote {
        margin: 40px auto;
        padding: 20px 40px;
        max-width: 80%;
    }
}
