:root {
    --primary-color: #212032;
    --secondary-color: #0041a8;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Calibri, sans-serif;
}

body {
    background-color: var(--primary-color);
    color: white;
    display: flex;
    flex-direction: column;
    height: 100vh;
    overflow-x: hidden;
}


header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 40px;
    background-color: var(--primary-color);
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
}

.logo img {
    max-height: 50px;
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 20px;
}

.nav-links li {
    margin-left: 20px;
}

.nav-links a {
    color: white;
    text-decoration: none;
    font-size: 1.5rem;
    font-weight: bolder;
    transition: color 0.3s;
}

.current-page a {
    color: #7fb2d6;
}

.nav-links li a:hover,
.nav-links li.current-page a {
    color: #7fb2d6; 
}

.manager {
    color: white;
    text-decoration: none;
    font-size: 1em;
    padding: 10px 20px;
    border: 1px solid white;
    border-radius: 5px;
    transition: background-color 0.3s, color 0.3s;
}

.manager:hover {
    background-color: white;
    border: 1px solid var(--secondary-color);
    color: var(--secondary-color);
}



/* homepage section */
.hero {
    flex: 1;
    background: url('images/1.jfif') no-repeat center center/cover;
    background-size: cover;
    background-attachment: fixed;
    display: flex;
    align-items: left;
    justify-content: left;
    position: relative;
    text-align: center;
    height: 100vh; 
}

.hero::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
}

.content {
    position: relative;
    z-index: 1;
    top: 60%;
    left: 10%;
}

.content h1 {
    font-size: 50px;
}

.content p {
    font-size: 24px;
    margin-bottom: 5%;
}


.buttons {
    display: flex;
    gap: 20px;
    justify-content: flex-start;
}

.buttons a {
    padding: 10px 20px;
    text-decoration: none;
    font-size: 1em;
    border: 2px solid white;
    cursor: pointer;
    color: white;
    background-color: var(--primary-color);
    border-radius: 5px;
    transition: background-color 0.3s;
}

.buttons a:hover {
    background-color: white;
    color: var(--primary-color);
}


.prayersTime, .lessons-activities {
    width: 75%;
    height: fit-content;
    margin: 0 auto;
    padding: 40px;
    background-color: var(--primary-color);
}

.prayersTime, .calendar, .announcements, .lessons-activities {
    text-align: center;
    padding: 50px 0;
}

.prayersTime .box-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.prayersTime .schedule, .lessons-container .lesson {
    flex: 1;
    margin: 0 20px;
}


.lessons-activities {
    border-radius: 10px;
    border: 10px double white;
    margin-top: 10%;
}

.lessons-activities .heading {
    margin: 0;
}

.lessons-activities .lessons-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 30px; 
    padding: 40px; 
}

.lessons-container .lesson {
    background-color: var(--primary-color);
    border-radius: 10px;
    padding: 20px;
    text-align: center;
}

.lessons-container .lesson .title-lesson {
    color: #7fb2d6;
    background-color: var(--primary-color);
    cursor: pointer;
    position: relative;
}

.lessons-container .lesson .title-lesson::after {
    content: "";
    position: absolute;
    bottom: 5px;
    left: 50%;
    transform: translateX(-50%) scaleX(0);
    height: 4px;
    width: 0;
    background-color: #7fb2d6;
    transition: transform 0.3s ease, width 0.3s ease;
    transform-origin: center right;
}

.lessons-container .lesson .title-lesson:hover::after {
    transform: translateX(-50%) scaleX(1);
    width: 80%;
}


.lessons-activities .lesson i {
    margin-left: 7px; 
}



.heading, h2 {
    text-align: center;
    color: var(--primary-color);
    background-color: white;
    padding: 10px;
}

.box-container {
    display: flex;
    flex-direction: row;
    gap: 2rem;
    align-items: center;
    justify-content: center;
    background-color: white;
    padding: 20px;
}


.schedule {
    background-color: white;
    padding: 30px;
    margin-bottom: 40px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
}

.schedule ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.schedule li {
    margin-bottom: 15px;
    font-size: 18px;
    color: #333;
}


.announcements {
    margin-bottom: 5%;
}

.announcements h2 {
    background-color: var(--primary-color);
    color: white;
    padding: 10px;
    border-radius: 5px;
    text-align: center;
    width: 96%;
    margin-bottom: 5%;
    margin-right: 2.5%;
    font-size: 50px;
}

/* .announcements ul {
    list-style-type: none;
    padding: 0;
    margin: 10px 0;
}

.announcements li {
    font-size: 18px;
    color: var(--primary-color);
    margin-bottom: 10px;
} */


.mySlides {
    display: none;
    align-items: center;
    justify-content: center;
}

.mySlides p {
    height: 20vh;
    background-color: var(--primary-color);
    color: white;
    padding: 20px;
    text-align: center;
    font-size: 30px;
    font-weight: bolder;
    margin-top: 7%;
}

.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

.dot {
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active {
  background-color: #717171;
}

.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@media only screen and (max-width: 300px) {
  .text {font-size: 11px}
}


h1 {
    font-size: 3rem;
    text-align: center;
    margin-top: 8%;
}

.calendar-events {
    display: flex;
    height: 90vh;
    width: 100%;
    align-items: center;
    justify-content: center;   
    margin-top: 2%;
}

.calendar-events img {
    max-width: 100%;
    max-height: 100%;
}




footer {
    background-color: white;
    color: var(--primary-color);
    text-align: center;
    padding: 20px;
    position: relative;
}

footer p {
    margin: 0;
    font-size: 16px;
}


.map-container {
    margin-top: 20px;
    width: 100%;
    height: 300px;
    position: relative;
    overflow: hidden;
}

.map-container iframe {
    width: 30%;
    height: 100%;
    border: none;
}



.social-media {
    margin-top: 20px;
}

.social-media h3 {
    margin: 0 0 10px 0;
    font-size: 20px;
}

.social-media a {
    color: var(--primary-color);
    font-size: 24px;
    margin: 0 10px;
    transition: color 0.3s ease;
}

.social-media a:hover {
    color: var(--secondary-color); 
    cursor: pointer;
}


.defibrillator {
    position: fixed;
    bottom: 10px;
    left: 10px; 
    width: 130px;
    height: 50px; 
    background-color: red;
    color: white;
    padding: 10px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center; 
    gap: 10px;
    cursor: pointer;
    z-index: 1000;
    text-align: center;
}

.defibrillator:hover {
    left: 0; 
    width: auto;
    height: auto;
}

.material-symbols-rounded {
    font-size: 24px;
    color: white; 
}

.defib-text {
    font-size: 18px;
    transition: opacity 0.3s; 
}

.defib-info {
    display: none; 
}

.defibrillator:hover .defib-text {
    display: none; 
}

.defibrillator:hover .defib-info {
    display: block; 
    width: fit-content;
    height: fit-content;
    bottom: 10px;
    left: 10px; 
    background-color: red; 
    color: white; 
    border-radius: 10px;
    padding: 5px;
    font-size: 18px; 
    text-align: center;
    align-items: center;
    justify-content: center;
}







@media (max-width: 768px) {
    header ul {
        float: none;
        overflow: hidden;
        background-color: #333;
        text-align: center;
        padding: 10px 0;
    }

    header li {
        display: block;
        margin-right: 20px;
        margin-bottom: 10px;
    }

    header .logo img {
        display: block;
        margin: auto;
        float: none;
    }

    header .manager {
        float: none;
        display: block;
        margin: auto;
    }

    .buttons a {
        display: block;
        margin: 10px auto;
    }

    .prayersTime .box-container, .lessons-container {
        flex-direction: column;
    }
}
