.contact-div {
    background-color: white;
    color: var(--primary-color);
    padding: 5%;
    margin: 10%;
    align-items: center;
    justify-content: center;
}

.heading-contact {
    margin-top: 2%;
    color: var(--primary-color);
    text-align: center;
    font-size: 40px;
    font-weight: bolder;
}

.contact-details {
    margin-top: 7%;
    justify-content: center;
    display: flex;
    align-items: center;
    flex-direction: row;
    gap: 10rem;
}

.box-contact {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    font-size: 24px;
    align-items: center;
}

.box-contact:hover {
    transform: scale(1.1);
    transition: 0.5s;
    cursor: pointer;
}

.box-contact i {
    font-size: 34px;
    color: var(--primary-color);
}

.box-contact p {
    text-align: center;
    color: #555;
}

.box-contact .details-contact-phone {
    display: flex;
    flex-direction: column; 
    justify-content: flex-start; 
    gap: 0;
}  



@media (max-width: 768px) {
    .contact-div {
        flex-direction: column;
    }

    .contact-details {
        flex-direction: column;
        gap: 2rem;
    }
}