:root {
  --primary-color: #212032;
  --secondary-color: #0041a8;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Calibri, sans-serif;
}

body {
  background-color: var(--primary-color);
  color: white;
  display: flex;
  flex-direction: column;
  height: 100vh;
  overflow-x: hidden;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 40px;
  background-color: var(--primary-color);
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 1000;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 20px;
}

.nav-links li {
  margin-left: 20px;
}

.nav-links a {
  color: white;
  text-decoration: none;
  font-size: 1.5rem;
  font-weight: bolder;
  transition: color 0.3s;
}

.nav-links li a:hover,
.nav-links li.current-page a {
    color: #7fb2d6; 
}

.manager {
    color: white;
    text-decoration: none;
    font-size: 1em;
    padding: 10px 20px;
    border: 1px solid white;
    border-radius: 5px;
    transition: background-color 0.3s, color 0.3s;
}

.manager:hover {
    background-color: white;
    border: 1px solid var(--secondary-color);
    color: var(--secondary-color);
}
