.manager-container {
    width: 100vw;
    margin: 0 auto;
    background-color: var(--primary-color);
  }
  
  .manager-header {
    padding: 2vh;
    margin-bottom: 30px;
  }
  
  .heading-manager {
    font-size: 3.5vw;
    text-align: center;
  }
  
  .manager-text {
    color: white;
    font-size: 1.5vw;
    text-align: right;
    padding: 5vh;
  }

  .manager-text p {
    color: white;
  }
  
  .manager-content {
    display: flex;
    flex-direction: column;
    padding: 2vh;
    width: 50vw;
    justify-content: center;
  }
  

  form {
    display: flex;
    flex-direction: column;
  }
  
  input, textarea, button {
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  button {
    background-color: #7fb2d6;
    color: white;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  button:hover {
    background-color: #7fb2d6;
  }

  .home-button {
  position: absolute;
  top: 20px;
  left: 20px;
  padding: 10px 15px;
  background-color: #f0f0f0;
  color: #333;
  text-decoration: none;
  border-radius: 5px;
  font-weight: bold;
}

.home-button:hover {
  background-color: #e0e0e0;
}

.admin-login-wrapper {
  position: relative;
}

form {
  align-items: center;
  justify-content: center;
}



@media (max-width: 768px) {
  .manager-content {
    grid-template-columns: 1fr;
  }
}