.manager-container {
    width: 100vw;
    margin: 0 auto;
    background-color: var(--primary-color);
  }
  
  /* .manager-header {
    padding: 2vh;
    margin-bottom: 30px;
  } */
  
  .heading-manager {
    font-size: 3.5vw;
    text-align: center;
  }
  
  .manager-text {
    color: white;
    font-size: 1.5vw;
    text-align: right;
    padding: 5vh;
  }

  .manager-text p {
    color: white;
  }
  
  .manager-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    width: 100%;
  }
  
  .manager-content > * {
    width: 80%;
    max-width: 800px;
  }
  
  form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
  input, textarea, button {
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  button {
    background-color: #7fb2d6;
    color: white;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  button:hover {
    background-color: #7fb2d6;
  }

  .home-button-manager {
    position: absolute;
    top: 20px;
    left: 20px;
    padding: 10px 15px;
    background-color: #f0f0f0;
    color: #333;
    text-decoration: none;
    border-radius: 5px;
    border: 2px solid var(--primary-color);
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .home-button-manager:hover {
    background-color: #e0e0e0;
  }
  
  .mobile-icon {
    display: none;
  }

.admin-login-wrapper {
  position: relative;
}

form {
  align-items: center;
  justify-content: center;
}



@media (max-width: 768px) {
  .manager-content {
    grid-template-columns: 1fr;
  }

  .heading-manager {
    padding: 1.25vh;
    font-size: 3.75vh;
  }

  .desktop-text {
    display: none;
  }

  .mobile-icon {
    display: block;
    font-size: 2vh;
  }

  .home-button-manager {
    padding: 10px;
    border-radius: 50%;
    width: 4vh;
    height: 4vh;
  }

  .manager-text {
    font-size: 2vh;
    text-align: right;
  }
}