header {
    background-color: var(--primary-color);
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    position: fixed;
    width: 100%;
    z-index: 1000;
}
  
.logo img {
    height: 50px;
}
  
.hamburger-menu {
    cursor: pointer;
    display: none;
    flex-direction: column;
    gap: 5px;
}
  
.hamburger-menu .bar {
    width: 25px;
    height: 3px;
    background-color: white;
}
  
.nav-links {
    display: flex;
    gap: 20px;
    list-style: none;
}
  
.nav-links a {
    color: white;
    text-decoration: none;
    font-size: 18px;
}

.nav-links a.active {
  color: white;
  background-color: var(--primary-color);
}
  
.nav-links a:hover {
    color: #7fb2d6;
    transition: 0.3s;
}
  
.manager {
    color: white;
    text-decoration: none;
    border: 2px solid white;
    padding: 5px 10px;
    border-radius: 5px;
    transition: background-color 0.3s;
}
  
.manager:hover {
    background-color: white;
    color: var(--primary-color);
}


  @media (max-width: 768px) {
    .nav-links {
      display: none;
      flex-direction: column;
      background-color: var(--primary-color);
      position: absolute;
      top: 60px;
      right: 0;
      width: 100%;
      text-align: center;
    }
  
    .nav-links.open {
      display: flex;
    }
  
    .hamburger-menu {
      display: flex;
    }
  }
  
  
  header {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: var(--primary-color);
    color: white;
  }
  
  .hamburger-menu {
    display: none;
    cursor: pointer;
    flex-direction: column;
    justify-content: space-between;
    height: 24px;
  }
  
  .hamburger-menu .bar {
    width: 25px;
    height: 3px;
    background-color: white;
    margin: 2px 0;
  }
  
  .nav-links {
    display: flex;
    list-style: none;
    padding: 0;
  }
  
  .nav-links li {
    margin: 0 1vw; 
  }
  
  .nav-links a {
    text-decoration: none;
    color: white;
    font-size: 1.5vw;
    font-weight: bolder;
    padding: 1vw;
  }
  
  .manager {
    text-decoration: none;
    color: white;
    border: 1px solid white;
    padding: 5px 10px;
    border-radius: 5px;
  }
  
  @media (max-width: 768px) {
    .App {
      width: 100vw;
      height: auto;
      overflow-x: hidden;
      background-color: var(--primary-color);
    }
  
    .hamburger-menu {
      display: flex;
    }
  
    .nav-links {
      display: none;
      position: absolute;
      top: 50px;
      left: 0;
      width: 100%;
      flex-direction: column;
      background-color: var(--primary-color);
    }
  
    .nav-links.open {
      display: flex;
    }
  
    .nav-links li {
      margin: 10px 0;
    }
  }
  