header {
  background-color: var(--primary-color);
  padding: 1.5vh 2.5vw;
  color: white;
  position: fixed;
  top: 0;
  width: 100vw;
  z-index: 1000;
}

.header-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo img {
  height: 5vh;
}

.center-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.nav-links {
  display: flex;
  gap: 20px;
  list-style: none;
  margin-bottom: 1vh;
}

.nav-links a {
  color: white;
  text-decoration: none;
  font-size: 1.5vw;
  font-weight: bolder;
  padding: 1vw;
}

.nav-links a.active {
  color: #7fb2d6;
  background-color: var(--primary-color);
}

.nav-links a:hover {
  color: #7fb2d6;
  transition: 0.3s;
}

.date-info {
  font-size: 14px;
  display: flex;
  align-items: center;
  gap: 10px;
  color: white;
}

.date-info i {
  margin-right: 5px;
}

.manager {
  color: white;
  text-decoration: none;
  border: 2px solid white;
  padding: 1.5vh 2vw;
  border-radius: 5px;
  transition: background-color 0.3s;
}

.manager:hover {
  background-color: white;
  color: var(--primary-color);
}

.hamburger-menu {
  cursor: pointer;
  display: none;
  flex-direction: column;
  gap: 2vh;
}

.hamburger-menu .bar {
  width: 25px;
  height: 3px;
  background-color: white;
}

@media (max-width: 768px) {
  .header-content {
    flex-direction: column;
    align-items: flex-start;
  }

  .center-content {
    width: 100%;
  }

  .nav-links {
    display: none;
    flex-direction: column;
    width: 100%;
    text-align: center;
  }

  .nav-links.open {
    display: flex;
  }

  .nav-links a {
    font-size: 18px;
  }

  .date-info {
    margin-top: 1vh;
    flex-wrap: wrap;
    justify-content: center;
    color: white; 
  }

  .hamburger-menu {
    display: flex;
    position: absolute;
    top: 1.5vh;
    right: 2.5vw;
  }

  .manager {
    margin-top: 1vh;
    align-self: center;
  }
}
