.defibrillator-container {
    position: fixed;
    bottom: 20px;
    right: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: red;
    color: white;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease;
    gap: 1vw;
    z-index: 3;
  }
  
  .defibrillator-container:hover {
    background-color: red;
  }
  
  .defibrillator-icon {
    margin-right: 8px;
  }
  
  .defibrillator-text::after {
    content: '';
    white-space: nowrap;
    opacity: 0;
    transition: opacity 0.3s ease;
  }
  
  .defibrillator-container:hover .defibrillator-text::after {
    content: ' נמצא בחדר הלימודים ובאולם השמחות';
    opacity: 1;
    margin-left: 10px; 
  }
  