.App {
  text-align: center;
  direction: rtl; 
  background-color: var(--primary-color);
  color: white;
  overflow-x: hidden;
}

:root {
  --primary-color: #212032;
  --secondary-color: #0041a8;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Calibri, sans-serif;
}

main {
  padding: 20px;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  background-color: #f0f0f0;
  margin: 10px 0;
  padding: 10px;
  border-radius: 5px;
}
