.App {
  text-align: center;
  direction: rtl; 
  background-color: var(--primary-color);
}

:root {
  --primary-color: #212032;
  --secondary-color: #0041a8;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Calibri, sans-serif;
}


.App-header {
  background-color: var(--primary-color);
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}


/* homepage section */
.hero {
  flex: 1;
  background-color: var(--primary-color);
  /* background: url('images/1.jfif') no-repeat center center/cover; */
  background-size: cover;
  background-attachment: fixed;
  display: flex;
  align-items: left;
  justify-content: left;
  position: relative;
  text-align: center;
  height: 100vh; 
}

.hero::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
}

.content {
  position: relative;
  z-index: 1;
  top: 60vh;
  left: 10vw;
}

.content h1 {
  font-size: 50px;
  color: white;
}

.content p {
  font-size: 24px;
  margin-bottom: 5vh;
  color: white;
}


.buttons {
  display: flex;
  gap: 20px;
  justify-content: left;
}

.buttons a {
  padding: 10px 20px;
  text-decoration: none;
  font-size: 1em;
  border: 2px solid white;
  cursor: pointer;
  color: white;
  background-color: var(--primary-color);
  border-radius: 5px;
  transition: background-color 0.3s;
}

.buttons a:hover {
  background-color: white;
  color: var(--primary-color);
}


.prayersTime, .lessons-activities {
  width: 75vw;
  min-height: 100vh;
  margin: 0 auto;
  padding: 10vw;
  background-color: var(--primary-color);
  text-align: center;
  align-self: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
}

.prayersTime, .calendar, .announcements, .lessons-activities {
  text-align: center;
  padding: 50px 0;
}

.prayersTime .box-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.prayersTime .schedule, .lessons-container .lesson {
  flex: 1;
  margin: 0 20px;
}

.prayersTime .schedule h2 {
  color: var(--primary-color);
  font-weight: bolder;
  font-size: 2vh;
}

.prayersTime .schedule ul li {
  list-style: none;
  text-align: right;
  font-size: 1.5vh;
}

.lessons-activities {
  border-radius: 10px;
  border: 10px double white;
  margin-top: 10vh;
  align-items: center;
}

.lessons-activities .heading {
  margin: 0;
}

.lessons-activities .lessons-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 30px; 
  padding: 40px; 
}

.lessons-container .lesson {
  background-color: var(--primary-color);
  border-radius: 10px;
  padding: 20px;
  text-align: center;
}

.lessons-container .lesson .title-lesson {
  color: #7fb2d6;
  background-color: var(--primary-color);
  cursor: pointer;
  position: relative;
}

.lessons-container .lesson .title-lesson::after {
  content: "";
  position: absolute;
  bottom: 5px;
  left: 50%;
  transform: translateX(-50%) scaleX(0);
  height: 4px;
  width: 0;
  background-color: #7fb2d6;
  transition: transform 0.3s ease, width 0.3s ease;
  transform-origin: center right;
}

.lessons-container .lesson .title-lesson:hover::after {
  transform: translateX(-50%) scaleX(1);
  width: 80%;
}


.lessons-activities .lesson i {
  margin-left: 7px; 
}

.heading, h2 {
  text-align: center;
  color: var(--primary-color);
  background-color: white;
  padding: 10px;
}

.box-container {
  display: flex;
  flex-direction: row;
  gap: 2rem;
  align-items: center;
  justify-content: center;
  background-color: white;
  padding: 20px;
}


/* header section */
header {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: var(--primary-color);
  color: white;
}

.logo {
  /* Add logo styling here */
}

.hamburger-menu {
  display: none;
  cursor: pointer;
  flex-direction: column;
  justify-content: space-between;
  height: 24px;
}

.hamburger-menu .bar {
  width: 25px;
  height: 3px;
  background-color: white;
  margin: 2px 0;
}

.nav-links {
  display: flex;
  list-style: none;
}

.nav-links li {
  margin: 0 10px;
}

.nav-links a {
  text-decoration: none;
  color: white;
  font-size: 18px;
}

.manager {
  text-decoration: none;
  color: white;
  border: 1px solid white;
  padding: 5px 10px;
  border-radius: 5px;
}


/* matching for smartphones - responsivity */
@media (max-width: 768px) {
  .App {
    width: 100vw;
    height: auto;
    min-height: 100vh;
    overflow-x: hidden;
    background-color: var(--primary-color);
  }

  .hamburger-menu {
    display: flex;
  }

  .nav-links {
    display: none;
    position: absolute;
    top: 50px;
    left: 0;
    width: 100%;
    flex-direction: column;
    background-color: var(--primary-color);
  }

  .nav-links.open {
    display: flex;
  }

  .nav-links li {
    margin: 10px 0;
  }

  .hero {
    padding: 2vh 2vw;
    align-items: left;
  }

  .hero h1 {
    font-size: 10vw;
    text-align: left;
    color: white;
  }

  .hero p {
    font-size: 4.5vw;
    text-align: left;
    margin-bottom: 2vh;
    padding-right: 5vw; 
    color: white;
  }

  .hero .buttons {
    
  }

  h1 {
    font-size: 5vh;
  }

  .prayersTime .box-container {
    flex-direction: column;
  }

  .lessons-activities .lessons-container {
    grid-template-columns: 1fr;
  }
}