.App {
  text-align: center;
  direction: rtl; 
  background-color: var(--primary-color);
  color: white;
  overflow-x: hidden;
}

:root {
  --primary-color: #212032;
  --secondary-color: #0041a8;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Calibri, sans-serif;
}